.option-one-screen {
    display: none;
}

.option-two-screen {
    display: none;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 20px;
    background-color: #FFCCF9;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

.title h1 {
    margin: 0;
    color: #5E239D;
}

.story-opening,
.option-one-screen,
.option-two-screen {
    background-color: #FFF4D9;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.story-opening img,
.option-one-screen img,
.option-two-screen img {
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button.option-one {
    background-color: #5EDFFF;
}

button.option-one:hover {
    background-color: #3BBFDF;
}

button.option-two {
    background-color: #FF7A85;
}

button.option-two:hover {
    background-color: #FF5770;
}

h2 {
    color: #2C3E50;
}

hr {
    border: none;
    height: 2px;
    background-color: #ccc;
}